
MemberBee/.vs/config/applicationhost.config
MemberBee/.vs/MemberBee/v15/.suo
MemberBee/.vs/MemberBee/v15/Server/sqlite3/db.lock
MemberBee/.vs/MemberBee/v15/Server/sqlite3/storage.ide
MemberBee/.vs/MemberBee/v15/Server/sqlite3/storage.ide-shm
MemberBee/.vs/MemberBee/v15/Server/sqlite3/storage.ide-wal
MemberBee/.vs/config/applicationhost.config
MemberBee/.vs/MemberBee/v15/.suo
MemberBee/ClassLibrary/obj/Debug/ClassLibrary.csproj.CoreCompileInputs.cache
MemberBee/MemberBee/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MemberBee/MemberBee/obj/Debug/MemberBee.csproj.CoreCompileInputs.cache
MemberBee/MemberBee/obj/Debug/MemberBee.dll
MemberBee/MemberBee/obj/Debug/MemberBee.pdb
